#content{
  height: 400px;
  overflow-y:scroll;
  padding: 10px;
   background-color: rgba(13, 110, 253, .1); 
}

.message{
  margin: 10px 0;
  width:85%;
  float:left;
  padding:5px;
}

.mymessage{
  float:right;
  border:1px solid greenyellow;
  background-color: greenyellow;
}

#messages::after {
  content: "";
  clear: both;
  display: table;
}